{% load static compress group_filters active_link settings %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">

    <title>{% block title %}Virtual Desktop Service - PePP demo{% endblock %}</title>

    {% compress css %}
    <link type="text/x-scss" href="{% static 'main.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    {% block extrastyle %}
    {% endblock extrastyle %}
    {% block style %}
    {% endblock style %}
  </head>

  <body class="bg-light">

    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar-main">
      <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">
          Virtual Desktop Service
        </a>
        
        <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav navbar-right mb-2 mb-lg-0 ms-auto">
            {% if user.is_authenticated %}
              {% load group_filters %}
              {% if user.is_staff and user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
              {% endif %}
              {% if user.is_staff or user|has_group:'Support Staff' %}
                <li class="nav-item {% active_link 'orion_report' %}">
                  <a class="nav-link" href="{% url 'orion_report' %}">Orion</a>
                </li>
                <li class="nav-item {% active_link 'user_search' %}">
                  <a class="nav-link" href="{% url 'user_search' %}">Users</a>
                </li>
              {% endif %}
            {% endif %}
          </ul>

          {% if user.is_authenticated %}
          <ul class="navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="d-block text-decoration-none dropdown-toggle nav-link" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="navbar-text ps-2">{{ user.email }}</span>
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                {% if allow_new_projects %}
                <li><a class="dropdown-item" href="{% url 'new_project' %}">New Workspace...</a></li>
                <li><a class="dropdown-item" href="{% url 'projects' %}">
                    Workspaces</a></li>
                {% else %}
                <li><a class="dropdown-item" href="{% url 'projects' %}">
                    Workspace</a></li>
                {% endif %}
                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li>
                  <form class="form-inline my-2 my-lg-0" action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-link dropdown-item">Log out</button>
                  </form>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        
        {% else %}
          <ul class="navbar-nav navbar-right">
            <li class="nav-item">
              <a class="btn btn-outline-light" href="{% url 'login' %}" role="button">Sign In</a>
            </li>
          </ul>
        {% endif %}
          
      </div>
    </nav>
    <!-- /navbar -->

    <main role="main" class="main">
      {% if user.is_authenticated %}
        {# only show the warning header if the user is a super user. #}
        {% if user.is_superuser %}
          <div class="debug_header"></div>
        {% endif %}
      {% endif %} 
      <div class="toast-container position-absolute top-0 end-0 pt-5 pe-3">
        {% for message in messages %}
          <div class="message-toast toast align-items-center text-white bg-{{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-message d-flex">
              <div class="toast-body">
                {{ message }}
              </div>
              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
          </div>
        {% endfor %}
      </div>
      
      {% block content %}
      {% endblock content %}

    </main>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    {% block script %}
    {% endblock script %}
    <!-- Running on: {% get_setting "IMAGE_ID" %} -->
  </body>
</html>
