<!-- VM Details Section -->
<div class="vm-details mt-4">
  <form method="post" action="{% url 'select_vm' %}">
      {% csrf_token %}
      <input type="hidden" id="vm_chooser" name="vm_chooser">
      {% if selected_vm %}
          <h3 id="vm-name">{{ selected_vm.name }}</h3>
          <p id="vm-description">{{ selected_vm.description }}</p>
          <img id="vm-logo" src="{{ selected_vm.logo }}" alt="VM Logo" style="max-width: 100px;">
      {% else %}
          <h3 id="vm-name">No VM found</h3>
          <p id="vm-description">No VM found</p>
          <img id="vm-logo" src="" alt="VM Logo" style="max-width: 100px;">
      {% endif %}
      <button type="submit" class="btn btn-primary mt-3">Select VM</button>
  </form>
  
  {% if selected_vm %}
      <button class="btn btn-outline-success mt-3" title="Launch {{ selected_vm.name }}"
              data-bs-toggle="modal"
              data-bs-target="#launch-modal">
        Create {{ selected_vm.name }} VM <i class="fas fa-plus"></i>
      </button>
  {% endif %}
</div>

<!-- Modal for the launch button -->
<div class="modal fade" id="launch-modal" tabindex="-1" aria-labelledby="launch-modal-label" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="launch-modal-label">Create VM</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body text-center">
      {% if applicable_zones|length == 1 %}
        {% with applicable_zones|first as zone %}
          <p id="selected-zone">
             Your VM will be launched in the {{ zone.name }} availability zone.
          </p>
        {% endwith %}
      {% elif applicable_zones|length > 1 %}
        <p class="py-3"><strong>Please select your preferred availability zone...</strong></p>
        <select id="zone-selector" class="form-select" aria-label="Select preferred availability zone">
          <option value="" selected>Default zone</option>
          {% for zone in applicable_zones %}
            <option value="{{ zone.name }}">{{ zone.name }}</option>
          {% endfor %}
        </select>
        <p class="py-3">Select "Default zone" to let the system choose.</p>
        <p class="h5 py-4">Are you ready to create a {{ selected_vm.name }} VM?</p>
      {% else %}
        <p id="no-zones">
          No availability zones currently support this VM type.
        </p>
      {% endif %}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      <button type="button" class="btn btn-success" onclick="launchVm(this)">Create</button>
    </div>
  </div>
</div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const vmItems = document.querySelectorAll('.vm-item');
      const vmChooser = document.getElementById('vm_chooser');
      const vmName = document.getElementById('vm-name');
      const vmDescription = document.getElementById('vm-description');
      const vmLogo = document.getElementById('vm-logo');
  
      vmItems.forEach(item => {
          item.addEventListener('click', function () {
              vmChooser.value = this.getAttribute('data-vm-id');
              vmName.textContent = this.getAttribute('data-vm-name');
              vmDescription.textContent = this.getAttribute('data-vm-description');
              vmLogo.src = this.getAttribute('data-vm-logo');
          });
      });
  
      var beenClicked = false;
      window.launchVm = function(tag) {
          if (!beenClicked) {
              beenClicked = true;
              tag.disabled = true;
              let selection = document.getElementById("zone-selector") ? document.getElementById("zone-selector").value : "";
              if (selection == "") {
                  window.location.href = '{% url "researcher_desktop:launch_vm_default" desktop=selected_vm.id %}';
              } else {
                  let url = '{% url "researcher_desktop:launch_vm" desktop=selected_vm.id zone_name="fixme" %}';
                  window.location.href = url.replace("fixme", selection);
              }
          }
      }
  });
  </script>
  